.avd-logo{
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
/*TOP NAVVV*/
.homenav,.aboutnav,.contactnav,.skillsnav{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  transition: ease .5s;
  text-decoration-color: initial;
  font-weight: 500;
  text-shadow: 1px 1px;
  padding: 10px;
}

.resumenav{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  transition: ease .5s;
  text-decoration-color: initial;
  font-weight: 500;
  text-shadow: 1px 1px;
  padding: 0;
  align-items: flex-start;
}

.homenav, a{
  margin-right: 20px;
  color: darkorange;
  text-decoration: none;
  
}

.aboutnav a{
  margin-right: 20px;
  color: darkorange;
  text-decoration: none;
}
.contactnav a{
  margin-right: 20px;
  color: darkorange;
  text-decoration: none;
}
.resumenav a{
  margin-right: 20px;
  color: darkorange;
  text-decoration: none;
}
.skillsnav a{
  margin-right: 20px;
  color: darkorange;
  text-decoration: none;
}



h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/*BUTONNN*/

button a{
  padding-left: 22px;
  padding-top: 5px;
}

button{
  background-image: url(photos/asteroid.png);
  background-position: 0;
  color: gray !important;
  border: 40px;
  font-size: xx-large;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 40px;
}
button:hover{
  color: grey !important;
}
button:active{
  color: grey !important;
}

.butonton{
  color: gray !important;
}
/*HEADERRRR*/
header{
background-color:rgb(56, 56, 57);  
text-align: center;
}
.welcomeh1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.RH{
  color: rgb(143, 139, 139);
  text-shadow: 10px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.SH{
  color: rgb(143, 139, 139);
  text-shadow: 10px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.CH{
  color: rgb(143, 139, 139);
  text-shadow: 10px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

.WH{
  color: rgb(143, 139, 139);
  text-shadow: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

}

/*BODYY*/

body{
  background-image: url(photos/galaxy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  font-family: Arial, sans-serif;
  color: aliceblue;
  background-color: rgb(45, 43, 43);
}
/*MAINNN*/
main{
  color: rgb(95, 94, 94);
  text-shadow: 1px 1px;
}
/*propic*/

.propic {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
}

.propic img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.propic{
  height: 200px;
  width: 200px;
}

.hmain {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  border-radius: 40px;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  background: transparent;
  box-shadow: 10px;
  width: 50%;
  font-size: 25px;
}

.aboutmain{
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  border-radius: 40px;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background: transparent;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  width: 50%;
  font-size: 25px
}

.resumemain{
  display: flex;
  margin: 80px auto;
  border-radius: 40px;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background: transparent;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);;
  width: 80%;
  font-size: 20px
}

.CV{
  margin: 100px;
  padding: 0;
}

.skillsmain{
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  border-radius: 40px;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background: transparent;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);;
  width: 80%;
  font-size: 20px
}

/**/

.fcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 35%;
  padding: 20px;
  flex-direction: column;
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #68217A;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #591d6a;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*LISSST*/
ul {
  
  text-align: center;
  list-style-position: inside;
  margin: 150px;
  padding: 0;
}

li {
  text-align: center;
  margin: 20px;
  padding: 0;
}



/*welcome*/

.wmbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.propicbox {
  order: 1;
  margin-left: 100px; /* Adjust the margin as needed */
}

.butontonton {
  order: 2;
  margin-right: 100px;
  text-align: center;
  text-decoration-color: initial;
  border-color: initial;
  outline-color: initial;
  scroll-behavior: smooth;

}



/*FOOOOTER*/
footer {
background-color: rgb(56, 56, 57);  
position: sticky;
bottom: 0;
text-align: center;
}