*{
  margin: 0;
  padding: 0;
  
}

html { scroll-behavior: smooth;}

/*Logo*/
.avd-logo{
  height: 40px;
  width: 150px;
  position: sticky;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  
}


/*HEADER*/

header h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
  width: 100%;
  border: 1px;
  position: sticky;
  size: 20vh;
  top: 0;
  background-color: rgba(255, 255, 255, 0.123);
  
}

/*NAV*/
header nav a{
  color: whitesmoke;
  
}

.navbutton{

  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.123);
}

.navbutton a{
  color: black;
  font-family: inherit;
  text-decoration: none;
  font-size: larger;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.277);
  padding: 10px;
  border-radius: 10px;
}

.navbutton div button{
  border-radius: 10px;
  background-color: darkgrey;
  color: whitesmoke;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
  font-weight: bolder;
}

/*PROPIC*/
.propic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid;
}


/*BODY*/

body{
  background-image: url(photos/greyspacebglines.jpg);
  color: whitesmoke;
  background-size: 1920px 1050px;
  background-repeat: no-repeat;
  background-color: black;
}



body section {
  border: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  
}

/*MAIN*/

main{

  height: 80vh;
}

.RMD p a{
  color: whitesmoke;
}

main span{
  font-size: 40px;
  text-shadow: 10px 10px 10px grey;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-decoration: underline rgba(5, 5, 5, 0.392); 
  
  
  
}

main h2{
  text-shadow: 4px 4px 4px grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.indexbutton button{
  height: 30px;  
  width: 60px;
  border-radius: 10px;
  background-color: darkgrey;
  color: whitesmoke;
  font-family: inherit;
  text-align: center;
  box-shadow: 2px 2px 2px grey;
  font-weight: bolder;
  

}

.indexbutton button a{
  text-decoration: none;
  font-family: inherit;
  text-shadow: 2px 2px 2px grey;
  color: black;
}


/*FOOTER*/

footer {
  border: 1px;
  margin: 2px;
  padding: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.306);
  font-family: inherit;
}

.fblogo, .ghlogo{
  border: 1.5px solid white;
  border-radius: 50%;
  
}



/*INDEX*/

.indexcontainer{
  margin-top: 20vh;
  border: solid rgba(0, 0, 0, 0.434);
  background-color: rgba(0, 0, 0, 0.558);
  box-shadow: 10px 10px 10px black;
  height: 40vh;
}

.indexleft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  align-items: center;

}

.indexleft h2{
  padding: 10px;
  text-shadow: 10px 10px 10px black;
}

.indexheader {
  padding-bottom: 20px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 2px 2px black;
}



/*HOME*/

.homecontainer{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 80px;
  padding: 40px;
  font-size: 1.6rem;
  text-shadow: 10px 10px 10px black;
  background-color: rgba(0, 0, 0, 0.149);
  box-shadow: 10px 10px 10px black;
  
}

.homeh1{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 2px 2px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homecontainer .top{
  display: flex;
  margin: 100px;


}


.homecontainer h1{
  padding-left: 100px;
  margin: 100px;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  
}

.homecontainer{
  text-align: justify;
}

/*ABOUT*/

.aboutcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 40px;
  text-shadow: 10px 10px 10px black;
  background-color: rgba(0, 0, 0, 0.149);
  box-shadow: 10px 10px 10px black;
}

.aboutcontainer h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px black;
}

.aboutme-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  box-shadow: 10px 10px 10px black;
}

.aboutmecontent p {
  color: white;
  font-size: 16px;
  padding: 10px;
  height: 100px;
  font-size: 2rem;
  text-align: justify;
  box-shadow: 10px 10px 10px black;
}

.aboutbottomcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.149);
  box-shadow: 10px 10px 10px black;
  padding: 40px;
}

.aboutbottomcontent h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px black;
}

.aboutbottomcontent p {
  color: white;
  font-size: 2rem;
  padding: 10px;
  box-shadow: 10px 10px 10px black;
}




/*SKILLS*/

.skillh1{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 2px 2px black;
}

.skillcontainer{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
font-size: 3rem;

}

ul {
  list-style: "*";
  margin-top: -200px;
  
}

ul li {
  padding-left: 5px;
  text-align: justify;
}


/*RESUME*/

.resumeh1{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 2px 2px black;
}

.RMD{
  display: flex;
  margin: 80px auto;
  border-radius: 40px;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.438);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);;
  width: 80%;
  font-size: 2rem;
  font-family: inherit;
  
}

/*contact*/

.contacth1{
  display: flex;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 2px 2px black;
}

.contactcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 35%;
  padding: 20px;
  flex-direction: column;
  text-align: center;
  font-family: inherit;
}

form {
  margin-top: 20px;
  font-family: inherit;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: inherit;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: inherit;
  color: #0e0c0c;
  font-family: inherit;
}

textarea {
  resize: vertical;
  font-family: inherit;
}


input[type="submit"] {
  background-color: #686363;
  color: #0a0a0a;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;

}

input[type="submit"]:hover {
  background-color: #868080;
  font-family: inherit;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
}